body {
  display: flex;
  padding: 50px;
}

body ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

ul li {
  display: flex;
  border: 7px solid black;
  padding: 50px;
}

img {
  width: 100%;
  height: auto;
}
