header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav ul li a {
  color: rgb(0, 153, 0);
}

header h1 {
  text-transform: uppercase;
  font-weight: bold;
}
