html {
  font-family: Helvetica, sans-serif;
}

span {
  font-weight: bolder;
  font-size: 35px;
  margin-top: 30px;
  margin: 30px 40px 0 0;
}

span,
nav,
li {
  display: inline-block;
  margin-bottom: 5px;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(50, 167, 104);
  padding-right: 27px;
}

div {
  border-top: 2px groove rgb(22, 1, 1);
}

h2 {
  font-family: serif;
  font-weight: bolder;
  margin-top: 20px;
  font-weight: 600;
}
